# Windows Virtual Environment
.venv

# Environment variables
.env

# IDEs
.vscode

# Python
**/__pycache__
**/*.egg-info

# CSV overall files
**/*.csv

# Filepaths
**/*.txt

# Dataset saved encodings
**/*.pkl

# Inference directory
inference/

# Experimentation
break_file
