# Windows Virtual Environment
.venv

# Environment variables
.env

# IDEs
.vscode

# Python
**/__pycache__
**/*.egg-info

# CSV overall files
**/*.csv

# Filepaths
**/*.txt

# Content of tokenizers and models
**/*.json

# Initial configs
!**/initial_configs/*

# Dataset saved encodings
**/*.pkl
**/*.pth
**/test.py

# Inference directory
inference/

# Experimentation
break_file
