# Venv, direnv
.env
.envrc
.venv

# IDEs
.vscode

# Python
**/__pycache__

# Excel files
**/*.xlsx

# Smaller split files
**/keimena_kypriakis_logotexnias_b*

# CSV overall files
**/*.csv

**/training
