accelerate==0.21.0
argcomplete==1.10.3
beautifulsoup4==4.8.2
certifi==2023.7.22
chardet==3.0.4
charset-normalizer==3.2.0
click==8.1.6
colorama==0.4.6
compressed-rtf==1.0.6
docx2txt==0.8
ebcdic==1.1.1
extract-msg==0.28.7
filelock==3.12.2
fsspec==2023.6.0
huggingface-hub==0.16.4
idna==3.4
IMAPClient==2.1.0
Jinja2==3.1.2
joblib==1.3.1
lxml==4.9.3
MarkupSafe==2.1.3
mpmath==1.3.0
networkx==3.1
nltk==3.8.1
numpy==1.25.2
olefile==0.46
packaging==23.1
pandas==2.0.3
pdfminer.six==20191110
Pillow==10.0.0
psutil==5.9.5
pycryptodome==3.18.0
pypdf2==3.0.1
python-dateutil==2.8.2
python-docx==0.8.11
python-pptx==0.6.21
pytz==2023.3
PyYAML==6.0.1
regex==2023.6.3
requests==2.31.0
safetensors==0.3.1
scikit-learn==1.3.0
scipy==1.11.1
six==1.12.0
sortedcontainers==2.4.0
soupsieve==2.4.1
SpeechRecognition==3.8.1
sympy==1.12
textract==1.6.5
threadpoolctl==3.2.0
tokenizers==0.13.3
torch==2.0.1
tqdm==4.65.0
transformers==4.31.0
typer==0.9.0
typing-extensions==4.7.1
tzdata==2023.3
tzlocal==5.0.1
urllib3==2.0.4
xlrd==1.2.0
XlsxWriter==3.1.2
