DATASET_DIR_PATH="G:\\My Drive\\Uni\\Masters\\Thesis\\dataset"
COMPILED_DOCS_FILE_NAME="all_documents.csv"
PREPROCESSED_DOCS_FILE_NAME="preprocessed_docs.csv"
CLEANED_FILES_DIR_PATH="G:\\My Drive\\Uni\\Masters\\Thesis\\cleaned_files"
CYBERT_DIR_PATH="G:\\My Drive\\Uni\\Masters\\Thesis\\Project\\cybert"
CYROBERTA_DIR_PATH="G:\\My Drive\\Uni\\Masters\\Thesis\\Project\\cyroberta"
CYBERT_TOKENIZER_DIR_PATH="G:\\My Drive\\Uni\\Masters\\Thesis\\Project\\cybert\\tokenizer"
CYROBERTA_TOKENIZER_DIR_PATH="G:\\My Drive\\Uni\\Masters\\Thesis\\Project\\cyroberta\\tokenizer"
CYBERT_MODEL_DIR_PATH="G:\\My Drive\\Uni\\Masters\\Thesis\\Project\\cybert\\model"
CYROBERTA_MODEL_DIR_PATH="G:\\My Drive\\Uni\\Masters\\Thesis\\Project\\cyroberta\\model"
HUGGINGFACE_DATASET_REPO_NAME="petros/cybert"
HUGGINGFACE_TOKEN=""
